---
import Layout from "@layouts/Default.astro";
---

<Layout>
    <section id="about">
        <h3>About Orsak Langner & Barthell</h3>
        <p>
            Orsak Langner & Barthel, PLLC is licensed in TX and specializes in
            Accounting. We are professional, experienced, and affordable. We
            offer a broad range of services for business owners, executives, and
            independent professionals.
        </p>
    </section>

    <section id="servicesOffered">
        <h3>Services Offered</h3>
        <p>
            If you're looking for a cost-effective solution to managing your
            finances or feel like it's time you obtained an accurate picture of
            your financials so that you can make informed decisions about your
            financial future, we can help.
        </p>
        <ul>
            <li>Audits</li>
            <li>Business Accounting</li>
            <li>Business Taxes</li>
            <li>Compilations</li>
            <li>Estates</li>
            <li>Individual Accounting</li>
            <li>Individual Taxes</li>
            <li>Not-for-Profit Accounting</li>
            <li>Not-for-Profit Taxes</li>
            <li>Reviews</li>
            <li>Trusts</li>
        </ul>
    </section>

    <section id="values">
        <h3>Our Values</h3>
        <div class="cardsection">
            <div class="infobox">
                <h4>Professionalism</h4>
                <p>
                    By combining our expertise, experience and the energy of our
                    staff, each client receives close personal and professional
                    attention.
                </p>
            </div>
            <div class="infobox">
                <h4>Responsiveness</h4>
                <p>
                    Our firm is responsive. Companies who choose our firm rely
                    on competent advice and fast, accurate personnel.
                </p>
            </div>

            <div class="infobox">
                <h4>Quality</h4>
                <p>
                    Our firm's reputation reflects the high standards we demand
                    of ourselves. Our primary goal as a trusted
                </p>
            </div>
        </div>
    </section>

    <section id="ourPartners">
        <h3>Our Partners</h3>
        <div id="partners">
            <div class="partnerbox">
                <h3>Michael W. Orsak, CPA</h3>
                <ul>
                    <li>mworsak@orsakcpas.com</li>
                    <li>(713) 621 - 5000 x110</li>
                </ul>
            </div>
            <div class="partnerbox">
                <h3>Jerilyn (Jeri) K. Barthel, CPA</h3>
                <ul>
                    <li>jbarthel@orsakcpas.com</li>
                    <li>(713) 621 - 5000 x115</li>
                </ul>
            </div>
        </div>
    </section>

    <a> Contact Us Let us know your questions. </a>
</Layout>

<style lang="scss">
section {
    h3 {
        text-align: center;
        padding: 5px;
    }
}
    section#contactOurOffice ul {
        list-style: none;
    }

    #values {
        color: rgb(255, 255, 255);
        background-color: rgb(48, 114, 200);
    }

.infobox {
    width: 300px;
    inline-size: 1000px;
    block-size: 200px;
    padding: 10px;
    font-size: 10pt;
    h4 {
        font-size: medium;
    }
}

    .cardsection {
        display: flex;
    }

#partners {
    display: flex;
    justify-content: space-evenly;
}

.partnerbox {
    text-align: center;
    inline-size: 275px;
    block-size: 110px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(28, 69, 114);
    background-color: #dde8f7;
    ul {
        list-style: none;
        padding: 0;
        margin: 0px;
    }
}

    @media screen and (min-width: 50em) {
        section#about {
            padding: 16px 128px;
        }
        section#servicesOffered {
            padding: 16px 128px;
        }

        #values {
            padding: 16px 128px;
        }
    }
</style>
