<form>
    <h3>Email Us</h3>
    <label for="name">Name:</label><br>
    <input type = "text" id="name" name="name"><br>

    <label for="email">Email:</label><br>
    <input type = "text" id="email" name="email"><br>

    <label for="text">What do you need help with?</label><br>
    <input type = "text" id="text" name="text"><br>
</form>