---
const portalLink = "https://orsakcpas.clientportal.com";
const THIS_YEAR = new Date().getFullYear();
---

<footer>
	<section>
		<div class="infobox">
			<h3>Contact</h3>
			<ul>
				<li>520 Post Oak Blvd. Suite #400</li>
				<li>Houston, TX 77027</li>
				<li>Hours: 9:00 am - 4:00 pm</li>
				<li>Phone: (713) 621 - 5000</li>
				<li>Fax: (713) 840 - 8815</li>
				<li>taxadmin@orsakcpas.com</li>
			</ul>
		</div>
		<div class="infobox">
			<h3>Resources</h3>
			<ul>
				<li>Internet Links</li>
				<li>Access Portal</li>
				<li>Track Your Refund</li>
				<li>Tax Due Date</li>
				<li>Tax Rates</li>
				<li>Record Retention Guide</li>
				<li>State Tax Forms</li>
			</ul>
		</div>
	</section>
	<section id="bottomLine">
		<img src="favicon.svg" />
		<p>
			&copy; {THIS_YEAR} Orsak Langner & Barthel, PLLC | <a>Site Map</a> |
			<a>Privacy Policy</a> | <a>Disclaimer</a>
		</p>
		<img src="favicon.svg" />
	</section>
</footer>

<style lang="scss">
	footer {
		color: rgb(255, 255, 255);
		background-color: rgb(28, 69, 114);
		padding: 5px;
		section {
			padding: 0;
			.infobox {
				text-align: center;
				padding: 0 30px;
				h3 {
					font-size: 16pt;
				}
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					margin-top: 10px;

					li {
						font-size: 10pt;
						font-weight: normal;
					}
				}
			}
			p {
				font-size: 6pt;
				text-align: center;
			}
		}
		#bottomLine {
			img {
				width: 30pt;
				height: 30pt;
			}
			justify-content: space-between;
			padding: 0px 25px;
			align-items: center;
		}
	}
	@media screen and (min-width: 30em) {
		footer {
			section {
				display: flex;
				flex-flow: row nowrap;
				flex: 1 1 33%;
				justify-content: space-evenly;
				.infobox {
					text-align: left;
				}
			}
		}
	}
</style>
