---
const portalLink = "https://orsakcpas.clientportal.com";
const THIS_YEAR = new Date().getFullYear();
---

<footer>
	<section>
		<div class="infobox">
			<h3>Contact</h3>
			<ul>
				<li>520 Post Oak Blvd. Suite #400</li>
				<li>Houston, TX 77027</li>
				<li>Hours: 9:00 am - 4:00 pm</li>
				<li>Phone: (713) 621 - 5000</li>
				<li>Fax: (713) 840 - 8815</li>
				<li>taxadmin@orsakcpas.com</li>
			</ul>
		</div>
		<div class="infobox">
			<h3>Resources</h3>
			<ul>
				<li>Internet Links</li>
				<li>Access Portal</li>
				<li>Track Your Refund</li>
				<li>Tax Due Date</li>
				<li>Tax Rates</li>
				<li>Record Retention Guide</li>
				<li>State Tax Forms</li>
			</ul>
		</div>
	</section>
	<section>
		<p>
			&copy; {THIS_YEAR} Orsak Langner & Barthel, PLLC | <a>Site Map</a> |
			<a>Privacy Policy</a> | <a>Disclaimer</a>
		</p>
	</section>
</footer>

<style lang="scss">
	footer {
		color: rgb(255, 255, 255);
		background-color: rgb(28, 69, 114);
		padding: 5px;
		font-size: 12pt;
		section {
			p {
				text-align: center;
			}
		}
	}
	.infobox {
		text-align: center;
		padding: 16px 32px;
		ul {
			list-style: none;
			padding: 0;
			li {
				font-weight: normal;
			}
		}
	}
	@media screen and (min-width: 50em) {
		footer {
			padding: 5px;
			section {
				display: flex;
				flex-flow: row nowrap;
				flex: 1 1 33%;
				justify-content: space-evenly;
				p {
					text-align: center;
				}
			}
		}
		.infobox {
			text-align: left;
		}
	}
</style>
