---
const portalLink = 'https://orsakcpas.clientportal.com';
---
<footer>
	<div id="contact" class="infobox">
			<h3>Contact</h3>
		<ul>
			<li>520 Post Oak Blvd. Suite #400</li>
			<li>Houston, TX 77027</li>
			<li>Hours: 9:00 am - 4:00 pm</li>
			<li>Phone: (713) 621 - 5000</li>
			<li>Fax: (713) 840 - 8815</li>
			<li>taxadmin@orsakcpas.com</li>
		</ul>
		</div>
		<div id="taxCenter" class="infobox">
				<h3>Tax Center</h3>
			<ul>
				<li>Track Your Refund</li>
				<li>Tax Due Date</li>
				<li>Tax Rates</li>
				<li>Record Retention Guide</li>
				<li>State Tax Forms</li>
			</ul>
			</div>
			<div id="resources" class="infobox">
					<h3>Resources</h3>
				<ul>
					<li>Calculators</li>
					<li>Internet Links</li>
				</ul>
			</div>
</footer>
<style lang="scss">
	header {
		display: flex;
		justify-content: space-between;
		padding: 8px 16px;
		img {
			width: 100px;
			height: 100px;
			float: left;
		}
		#title {
			text-align: right;

		h1 {
			color: #3072C8;
		}
		h3{
			color: #25589B;
		}
	}
	a {
		display: inline-block;
		background-color: #AEC9EC;
		border-radius: 5px;
		transition-duration: 0.3s;
		align-self: center;
	}
	a:hover {
		background-color: white;
	}
}
</style>