---
const portalLink = 'https://orsakcpas.clientportal.com';
---
<header>
	<div>
		<img src="" alt="" />
		<h1>Orsak Langner & Barthel, PLLC</h1>
		<h2>Certified Public Accounts</h2>
	</div>
	<a href={portalLink}>Portal Sign In</a>
</header>