---
const PORTAL_LINK = "https://orsakcpas.clientportal.com";
---

<header>
	<div>
		<img
			src="images/logo-title.svg"
			alt="Orsak Langner & Barthel PLLC Certified Public Accountants"
		/>
	</div>
	<a href={PORTAL_LINK}>Portal Login</a>
</header>

<style lang="scss">
header {
	display: flex;
	justify-content: space-between;
	padding: 8px 10px;
	div {
		display: flex;
		align-content: center;
		img {
			height: 70pt;
		}
	}
	a {
		display: inline-block;
		background-color: #aec9ec;
		transition-duration: 0.3s;
		align-self: center;
		border-radius: 5px;
		&:hover {
			background-color: white;
		}
	}
}
@media screen and (min-width: 40em) {
	header {
		div {
			img {
				height: 100pt;
				transition-property: all;
				transition-duration: 2s;
			}
		}
	}
}
</style>
