* {
    outline: 1px solid black;
}
#servicesOffered {

}
div {
    font-weight: bold;
}

.infobox {
    color: rgb(255, 255, 255);
    background-color: rgb(48, 114, 200);
}
footer{
    color: rgb(255, 255, 255);
    background-color: rgb(28, 69, 114);
}