---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/reset.css" type="text/css">
	<link rel="stylesheet" href="styles/main.css" type="text/css">
	<link rel="shortcut icon" href="favicon.svg" type="image/svg+xml">
	<title>Orsak Langner & Barthel, PLLC</title>
</head>
<body>
<Header/>
<main>
	<slot/>
</main>
<Footer/>
</body>
</html>